{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- slickjs -->
    <link rel="stylesheet" href="./slick-1.8.1/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="./slick-1.8.1/slick-1.8.1/slick/slick-theme.css">
    <!-- <link rel="stylesheet" href="./scss/main.css"> -->
    <link rel="stylesheet" href="{% static 'css/scss/main.css' %}">
</head>

<body>

    <nav class="navbar w-100 px-4 navbar__fix navbar-expand-lg navbar-light ">
        <a href="/" style="text-decoration: none; color: black;">
        <h1 class="logo">
          TINPETS
        </h1>
        </a>
  
  
        <div class=" navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
              <a href="" style="text-decoration: none; color: black;">
                <li class="nav-item mx-4">
  
                  About us
                </li>
              </a>
           
            <a href="/find?page=1"  style="text-decoration: none; color: black;">
            <li class="nav-item mx-4">
              Find a pet
            </li>
            </a>
  
            <a href="/breed?page=1"  style="text-decoration: none; color: black;">
            <li class="nav-item mx-4">
              Breeds
            </li>
            </a>
            {% if user.is_authenticated %}
            <a href="/give"  style="text-decoration: none; color: black;">
              
            <li class="nav-item mx-4">
              Upload pet
            </li>
            </a>
            {% else %}
            <a href="/login"  style="text-decoration: none; color: black;">
              
              <li class="nav-item mx-4">
                Upload Pet
              </li>
              </a>
              {% endif %}
  
  
          </ul>
  
          <i class="mr-3  fa fa-shopping-cart "></i>
          
          {% if user.is_authenticated %}
            
              <i class="mr-1 fa fa-user"></i>
              <a href="/profile" style="text-decoration: none;color: black;">
                <h5 style="margin-bottom: 0;"> {{user.username}} </h5>
              </a>
              
              <a href="/logout" class="btn  btn-outline-primary ml-3">LOG OUT</a>
            
            <!-- <a href="/logout">logout</a> -->
          {% else %}
          <a  href="/login"  class="  ml-2 ml-2 px-4 login__btn btn  btn-outline-primary">
            SIGN IN
          </a>
          <a href="/register" class="  ml-2 ml-2 px-4 login__btn btn  btn-outline-primary">
            SIGN UP
          </a>   
          {% endif %}
         
        </div>
      </nav>

    <div class="Header__introProduct">
        <h2>Product Infomation</h2>
        <hr class="Header__line">
        </hr>
        <i class="fas fa-arrow-left">back</i>
    </div>

    <div class="Info">
        
        <div class="Info__Left">
            <img src="{{pet.image.url}}" />
            <div class="Your__Choose">
                <h4>Do you like it?</h4>
               
                <a href="/send?email={{pet.email}}&owner={{user.email}}">
                    <button type="button" class="btnDetail">Contact Now</button>
                </a>
                
                <!-- <h6>Or</h6>
                <button type="button" class="btnDetail">Add to Cart</button> -->
            </div>
        </div>
        <div class="Info__Right">
            <!-- <h3>Pet Detail</h3> -->
            <div class="__Item">
                <span>Name: </span>
                <input type="text" id="fname"  name="fname" value="{{pet.name}}" disabled>
            </div>
            <hr />
            <div class="__Item">
                <span>Gender: </span>
                <input type="text" id="fname"  name="fname" value="{{pet.gender}}" disabled>
            </div>
            <hr>
            <div class="__Item">
                <span>Age: </span>
                <input type="text" id="fname" value="{{pet.age}}" name="fname" disabled>
            </div>
            <hr />
            <div class="__Item">
                <span>Race: </span>
                <input type="text" id="fname" value="{{pet.race}}" disabled name="fname">
            </div>
            <hr>
            <div class="__Item">
                <span>Type: </span>
                <input type="text" id="fname" name="fname" value="{{pet.type}}" disabled>
            </div>
            <hr />
            
            <hr>
            <div class="__Item">
                <span>Location: </span>
                <input type="text" id="fname" name="fname" value="{{pet.location}}" disabled>
            </div>
            <hr />
           
            <hr />
            <div class="__Item">
                <span>Owner: </span>
                <input type="text" id="fname" name="fname" value="{{pet.owner}}"  disabled >
            </div>
            <div class="container py-3">
                <h6>Leave A Comment</h6>
                <form action="/comment" method="post" class="comment__form">
                    {% csrf_token %}
                    <input type="hidden" value="{{pet.id}}" name="id" >
                    {{form.body}}
                    
                   <button class="btn btn-outline-primary mt-2" style="width: 100px;">submit</button>
                </form>
            </div>
        </div>
        
    </div>
  
    
    {% for x in comment %}
    <ul class="media-list container">
        <li class="media">
            <div class="media-body">
                <!-- <span class="text-muted pull-right">
                    <small class="text-muted">30 min ago</small>
                </span> -->
                <strong class="text-success">@{{x.postBy}}</strong>
                <p>
                   {{x.body}}
                </p>
            </div>
        </li>
    </ul>
    {% endfor %}




    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4 logo__footer">
                            Tinpets
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->



    <!-- Optional JavaScript -->

    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- slickjs -->
    <script src="./slick-1.8.1/slick-1.8.1/slick/slick.min.js"></script>
    <script src="./slick.js"></script>
    <script>
        $(window).scroll(() => {
            if ($(window).scrollTop() > 100) {
                $(".navbar").addClass("navbar__change");
            }
            else {
                $(".navbar__change").removeClass("navbar__change");
            }
        })
    </script>

</body>

</html>