{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <style>
      input{
        width: 100%;
      }
  </style>
    <div>
        <nav class="navbar w-100 px-4 navbar__fix navbar-expand-lg navbar-light ">
            <a href="/" style="text-decoration: none; color: black;">
            <h1 class="logo">
              TINPETS
            </h1>
            </a>
      
      
            <div class=" navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                  <a href="" style="text-decoration: none; color: black;">
                    <li class="nav-item mx-4">
      
                      About us
                    </li>
                  </a>
               
                <a href="/find"  style="text-decoration: none; color: black;">
                <li class="nav-item mx-4">
                  Find a pet
                </li>
                </a>
      
                <a href="/breed"  style="text-decoration: none; color: black;">
                <li class="nav-item mx-4">
                  Breeds
                </li>
                </a>
                <a href="/give"  style="text-decoration: none; color: black;">
                <li class="nav-item mx-4">
                  Give your pet
                </li>
                </a>
      
      
      
              </ul>
      
              <i class="mr-3  fa fa-shopping-cart "></i>
              
              {% if user.is_authenticated %}
                
                  <i class="mr-1 fa fa-user"></i>
                  <h5 style="margin-bottom: 0;"> {{user.username}} </h5>
                  <a href="/logout" class="btn  btn-outline-primary ml-3">LOG OUT</a>
                
                <!-- <a href="/logout">logout</a> -->
              {% else %}
              <a  href="/login"  class="  ml-2 ml-2 px-4 login__btn btn  btn-outline-primary">
                SIGN IN
              </a>
              <a href="/register" class="  ml-2 ml-2 px-4 login__btn btn  btn-outline-primary">
                SIGN UP
              </a>   
              {% endif %}
             
            </div>
        </nav>
        <div class="upload__pet">
            <div class="upload__container">
                <!-- <form>
                    <div class="form-group py-2">
                      <label htmlFor="exampleInputEmail1">Pet's name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter name"
                      />
                    </div>
                    <div class="input-group py-2 mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" htmlFor="inputGroupSelect01">
                          race
                        </label>
                      </div>
                      <select class="custom-select w-50" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value={1}>Dog</option>
                        <option value={2}>Cat</option>
                        <option value={3}>Others</option>
                        
                        
                      </select>
                    </div>



                    <div class="form-group py-2">
                      <label htmlFor="exampleInputEmail1">type</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Type"
                      />
                    </div>
                   
            
                    <div class="form-group py-2">
                      <label htmlFor="exampleInputEmail1">Location</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your Address "
                      />
                    </div>
                    <div class="form-group py-2">
                      <label htmlFor="exampleInputEmail1">Pet image</label>
                      <input
                        type="file"
                        class="form-control"
                        placeholder="Enter your Address "
                      />
                    </div>
                    <div class="input-group py-2 mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" htmlFor="inputGroupSelect01">
                          Gender
                        </label>
                      </div>
                      <select class="custom-select w-50" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value={1}>Male</option>
                        <option value={2}>Female</option>
                        
                      </select>
                    </div>
            
                    <div class="input-group py-2 mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" htmlFor="inputGroupSelect01">
                          purpose
                        </label>
                      </div>
                      <select class="custom-select w-50" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value={1}>Give</option>
                        <option value={2}>Breed</option>
                        
                      </select>
                    </div>
            
                   
                    
            
                    
                    <button type="submit" class="btn btn-primary w-100">
                      Submit
                    </button>
                  </form> -->
                  
                  <form action="give" class="w-50 m-auto" method="post" enctype="multipart/form-data">
                    {% for message in messages %}
                      <h6 style="color: red;">{{message}}</h6>
                    {% endfor %}
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-outline-primary w-100">submit</button>
                  </form>
            </div>
        </div>
       
    </div>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(window).scroll(()=>{
        if($(window).scrollTop()>100){
            $(".navbar").addClass("navbar__change");
        }
        else{
            $(".navbar__change").removeClass("navbar__change");
        }
        })  
      </script>
  </body>
</html>