.navbar-nav{
    li{
        
        font-weight: 500 !important;
         font-size: 20px;
        cursor: pointer;
        &:hover{
            font-style: italic;
            transition: all .5s;
            font-size: 25px;
        }
    }
   
   
}
.navbar{
   color: black;
    .logo{
        font-family: Knewave;
    }
}
.navbar__fix{
    z-index: 1000;
    position: fixed !important;
}
.navbar__change{
    transition: .5s;
    background-color: white ;
}